<div class="user-card">
 <div class="img-div">
    <img src= <%= user.photo %> alt="User profile picture" class="profile-pic">
  </div>
  <div class="user-info">
    <%= link_to user_path(user.id) do %>
      <h2><%= user.name %></h2>
    <% end %>
    <p><%= user.posts_counter %> Num of posts.</p>
  </div>
</div>