<h1>Here is a list of users</h1>

<section>
<% @users.each do |user| %>
<%= link_to user_path(user) do %>
<div >
  <div>
    <img src="<%= user.photo %>" /> 
  </div>
  <div>
    <h2>
       <%= user.name %>
    </h2>
    <label>
    Number of post<%= user.posts_counter %>
    </label>
  </div>
</div>
<%end %>
<% end %>
</section>